SOC/SOC.Local/SOC.Local.Order/Service References/LISService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.elims.com.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.elims.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.elims.com.cn/">
      <s:element name="LoadContainerDict">
        <s:complexType />
      </s:element>
      <s:element name="LoadContainerDictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadContainerDictResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateContainer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aply_itm_type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dt_aply_itms">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateContainerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateContainerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchContainerListForHis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ptnt_no_type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptnt_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqnc_no" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="state" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchContainerListForHisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchContainerListForHisResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallbackContainerPayState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="smpl_flow_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="state" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallbackContainerPayStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CallbackContainerPayStateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadContainerDictSoapIn">
    <wsdl:part name="parameters" element="tns:LoadContainerDict" />
  </wsdl:message>
  <wsdl:message name="LoadContainerDictSoapOut">
    <wsdl:part name="parameters" element="tns:LoadContainerDictResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateContainerSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateContainer" />
  </wsdl:message>
  <wsdl:message name="CalculateContainerSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateContainerResponse" />
  </wsdl:message>
  <wsdl:message name="SearchContainerListForHisSoapIn">
    <wsdl:part name="parameters" element="tns:SearchContainerListForHis" />
  </wsdl:message>
  <wsdl:message name="SearchContainerListForHisSoapOut">
    <wsdl:part name="parameters" element="tns:SearchContainerListForHisResponse" />
  </wsdl:message>
  <wsdl:message name="CallbackContainerPayStateSoapIn">
    <wsdl:part name="parameters" element="tns:CallbackContainerPayState" />
  </wsdl:message>
  <wsdl:message name="CallbackContainerPayStateSoapOut">
    <wsdl:part name="parameters" element="tns:CallbackContainerPayStateResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="LoadContainerDict">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">LIS系统定义的容器字典列表。</wsdl:documentation>
      <wsdl:input message="tns:LoadContainerDictSoapIn" />
      <wsdl:output message="tns:LoadContainerDictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateContainer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据传入的申请项目清单计算使用容器数量。&lt;br /&gt;入参：aply_itm_type - 申请项目来源(0 - 来自HIS ; 1 - 来自体检 ; 2 - 来自其他)&lt;br /&gt;入参：dt_aply_itms - 包含申请项目Key的DataTable对象(该DataTable只包含一个名为“src_itm_key”的string类型字段。)&lt;br /&gt;返回值：包含容器清单的DataSet对象，可能为null。&lt;br /&gt;smpl_id：样本类型ID ， grup_num：项目分组号 ， container_key：容器的Key值 ，fee_code: 收费编码 ， qty：容器数量</wsdl:documentation>
      <wsdl:input message="tns:CalculateContainerSoapIn" />
      <wsdl:output message="tns:CalculateContainerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchContainerListForHis">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据条件查询目标病人的容器清单。&lt;br /&gt;入参：ptnt_no_type - 病历号类型( 0 - 门诊号 ， 1 - 住院号)&lt;br /&gt;入参：ptnt_no - 病历号&lt;br /&gt;入参：sqnc_no - 就诊序号&lt;br /&gt;入参：state - 计费状态( 0 - 未计费 ， 1 - 已计费)&lt;br /&gt;特别说明：ptnt_no，sqnc_no两个入参至少传递一个。当只传递一个时，另一个传“空字符串”；当两个都传时，忽略sqnc_no&lt;br /&gt;返回值：包含容器清单的DataSet对象，可能为null。&lt;br /&gt;smpl_flow_id：容器流水号(唯一性)， smpl_id：样本类型ID ， grup_num：项目分组号 ， container_key：容器的Key值 ，fee_code: 收费编码 ， qty：容器数量</wsdl:documentation>
      <wsdl:input message="tns:SearchContainerListForHisSoapIn" />
      <wsdl:output message="tns:SearchContainerListForHisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallbackContainerPayState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据容器流水号更新容器的计费状态。&lt;br /&gt;入参：smpl_flow_id - 容器流水号(唯一性)&lt;br /&gt;入参：state - 计费状态( 0 - 未计费 ， 1 - 已计费)&lt;br /&gt;返回值：更新是否成功。(true - 成功 ， false - 失败)&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:CallbackContainerPayStateSoapIn" />
      <wsdl:output message="tns:CallbackContainerPayStateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadContainerDict">
      <soap:operation soapAction="http://www.elims.com.cn/LoadContainerDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateContainer">
      <soap:operation soapAction="http://www.elims.com.cn/CalculateContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContainerListForHis">
      <soap:operation soapAction="http://www.elims.com.cn/SearchContainerListForHis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallbackContainerPayState">
      <soap:operation soapAction="http://www.elims.com.cn/CallbackContainerPayState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadContainerDict">
      <soap12:operation soapAction="http://www.elims.com.cn/LoadContainerDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateContainer">
      <soap12:operation soapAction="http://www.elims.com.cn/CalculateContainer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContainerListForHis">
      <soap12:operation soapAction="http://www.elims.com.cn/SearchContainerListForHis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallbackContainerPayState">
      <soap12:operation soapAction="http://www.elims.com.cn/CallbackContainerPayState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.16.92.203:8090/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.16.92.203:8090/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>